###
# Explicit Keeps for Clarity and Sustainability
###

# Obsidian Plugin Data (Actually Important)
# docs-src/.obsidian/* # <--- #broken Line removes all plugins, even with the explicit allow for data.json below.
docs-src/.obsidian/*.*
docs-src/.obsidian/plugins/**/*.json
!docs-src/.obsidian/plugins/**/manifest.json

#docs-src/.obsidian/plugins/*/manifest.*
# !docs-src/.obsidian/plugins/**/data.json
# /data.json



# .vscode/settings.json
docs-src/.obsidian/workspace*
!docs-src/.obsidian/*.json
!docs-src/.obsidian/snippets/*


# #todo Find Way to add active them. Or have #DevNote
# `/docs-src/.obsidian/appearance.json:3`
# ```json
#   "theme": "obsidian",
# ```
# #WARNING Obsidian CSS is _always_ Title Case (starts with capital letter)
docs-src/.obsidian/themes/*.css

###
# Common
###
*.bak*